* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #ddd;
}

.cards-wrapper {
    width:90%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.card {
    width: 300px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/bg.jpg) center no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}