* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle {
    width: 150px;
    height: 50px;
    background-color: #e24848;
    border-radius: 50px;
    box-shadow: inset 0 2px 10px #555;
}

.circle {
    width: 5px;
    height: 5px;
    border: 27px solid #fff;
    border-radius: 50%;
}