* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
}

html {
    font-size: 62.5%;
}


.container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.toggle {
  width: 6rem;
  height: 6rem;
  background-color: #eee8e1;
  position: absolute;
  top: 7rem;
  right: 7rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.card {
    width: 48rem;
    height: 25rem;
    background-color: #ccc;
    border-radius: 2rem;
    position: relative;
}

.toggle i {
    font-size: 4rem;
    color: #777;
}

.card-map{
    width: 35rem;
    position: absolute;
}

.card-chip {
    width: 6rem;
}

