* {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(53, 82, 66, 0.5),rgba(47,80,63,0.6)), url(images/bg.jpg) center no-repeat;
  background-size: cover;
}

.banner {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner h1 {
  font-size: 80px;
  color: #ddd;
  font-weight: 300;
  margin-bottom: 30px;
}