*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Quicksand, sans-serif;
}

html{
    font-size: 62.5%;
}


.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    width: 100rem;
    height: 70rem;
    background-color: #eee;
    border-radius: 3rem;
    box-shadow: 0 2rem 6rem rgb(0, 0, 0, 0.3);
    position: relative;
    
}

.green-bg{
    width: 40%;
    height: 100%;
    background: linear-gradient(to right, #3ab19b, #4cbf91);
    position:absolute;
    top:0;
    left: 0;
}